[run]
source = .
omit = 
    */tests/*
    */test_*.py
    */env/*
    */__pycache__/*
    */vectorstore/*
    */pdf/*
    */htmlcov/*
    setup.py
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod



